html
    head
        meta(charset='utf-89')
        meta(
            name='viewport'
            content='width=device-width, initial-scale=1.0'
        )
        meta(
            http-equiv='X-UA-Compatible'
            content='ie=edge'
        )
        link(
            href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap",
            rel="stylesheet"
        )
        link(
            rel='stylesheet'
            href='/css/createClients.css'
        )
        script(
          src='https://kit.fontawesome.com/fee30ffac9.js',
          crossorigin='anonymous'
        )
        title Agenstvo
    body
    .top
      .menu-list
        .container
          .wrapper
            .nav
              ul
                li
                  a(href='/') Главная
                li
                  a(href='/flats') Квартиры
                li
                  a(href='/clients') Клиенты
                li
                  a(href='/realtors') Риэлторы
            .login.dropdown
                a.mainmenubtn(href='/realtors') #{name}
                .dropdown-child
                  a(href='#') Статистика
                  a(href='logout') Выход
    .createClient-form
      .container
        .form-inner
          p Введите информацию о продавце:
          form.create(method='POST')
            label ФИО:
            input(type='text', name='name')
            br
            label Адрес:
            input(type='text', name='address')
            br
            label Дата рождения:
            input(type='date', name='dob' class='in-date')
            br
            label E-mail:
            input(type='email', name='email' )
            br
            label Номер домашнего телефона:
            input(type='tel', name='home_phone',maxlength="11", value="отсутствует" )
            br
            label Номер мобильного телефона:
            input(type='tel', name='mobile_phone', pattern="[0-9]{11}", minlength="11", maxlength="11")
            br
            label Серия паспорта:
            input(type='text', name='passport_series', pattern="[0-9]{4}", minlength="4", maxlength="4")
            br
            label Номер паспорта:
            input(type='text', name='passport_number', pattern="[0-9]{6}", minlength="6", maxlength="6")
            br
            label Дата выдачи:
            input(type='date', name='doi' class='in-date')
            br
            label Орган, выдавший паспорт:
            input(type='text', name='pia')
            br
            .btn
              button.add(type='submit') Далее
